
@media (max-width: 682px) {
  .social {
    justify-content: center;
  }
}

.center.social {
  justify-content: center;
  max-width: 250px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 285px;
}

.social .link {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.social .img {
  margin: 6px;
}
