
@media (max-width: 682px) {
  .social {
    justify-content: center;
  }
}

.center.social {
  justify-content: center;
}

.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 285px;
}

.social a {
  display: flex;
}

.social .img {
  margin: 6px;
}

.social .img.borderless {
  margin: 8px;
}
