
div.profileRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 90%;
}

.profilePic {
  max-width: 250px;
  width: 100%;
}

.profilePicImage {
  width: 80%;
  border: 1px solid black;
  padding: 1px;
  margin: 10%;
  aspect-ratio: 1/1;
}

.name {
  max-width: 350px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 682px) {
  .nameAndSocial {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
