
.modalOverlay {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  top: 0px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  text-align: center;
}

.copiedNotice {
  color: #414141;
  font-size: 13px;
  text-align: center;
}

.modal {
  background-color: white;
  padding: 30px;
  padding-bottom: 20px;
  position: relative;
  font-family: Noto Sans;
  font-size: 16px;
}

.modalX {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}

.modalButtons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  margin-top: 15px;
}

.modalButtons>div {
  border: 1px solid #414141;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
