
.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  margin-bottom: 70px;
}

.titleImage {
  margin-bottom: 20px;
}

.credits>div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.credits a {
  display: flex;
}
