
div.videogames {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  margin-bottom: 70px;
}

.videogamesImg {
  margin-bottom: 20px;
}

.videogamesLink {
  position: relative;
  width: 100%;
}

.videogamesLinkImg {
  position: absolute;
  right: 20px;
  top: 10px;
}

@media (max-width: 554px) {
  div.videogames {
    max-width: 450px;
  }
}
